
.articleCards {
  display: flex;
  flex-wrap: wrap;
  .ant-card {
    margin: .5rem .3rem !important;
    .ant-card-body {
      .ant-card-meta {
        .ant-card-meta-avatar {
          padding-top: .5rem !important;
          padding-right: unset !important;
          padding-left: 1rem !important;
        }
      }
    }
    .ant-card-actions {
      li {
        display: flex;
        justify-content: center;
        border: none;
        span {
          margin: unset;
        }
      }
    }
  }
}

.userPanelArticles {
  .ant-card {
    width: 24% !important;
  }
}

.ant-select-single {
  width: 100% !important;
}

.ant-select-selection-item {
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 8px !important;
  margin-right: .5rem;
}

.articleCard {
  position: relative;
}

.articleCard:hover .opacityDiv {
  display: flex;
}

.articleUserPanelSidebar {
  background-color: transparent !important;
  border-radius: 10px !important;
  .mr-3 {
    display: flex;
    align-items: center;
    justify-content: right;
    h2 {
      width: 50% !important;
      padding-right: .5rem;
    }
  }
  ul {
    li {
      div {
        position: relative;
        .ant-menu-title-content {
          text-align: right;
        }
      }
      ul {
        li {
          span {
            text-align: right;
          }
        }
      }
    }
  }
}
