
@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: .25rem * $i !important;
  }
  .mb-#{$i} {
    margin-bottom: .25rem * $i !important;
  }
  .ml-#{$i} {
    margin-left: .25rem * $i !important;
  }
  .mr-#{$i} {
    margin-right: .25rem * $i !important;
  }
  .mtb-#{$i} {
    margin-top: .25rem * $i !important;
    margin-bottom: .25rem * $i !important;
  }
  .mrl-#{$i} {
    margin-right: .25rem * $i !important;
    margin-left: .25rem * $i !important;
  }
  .m-#{$i} {
    margin: .25rem * $i !important;
  }
  .pt-#{$i} {
    padding-top: .25rem * $i !important;
  }
  .pb-#{$i} {
    padding-bottom: .25rem * $i !important;
  }
  .pl-#{$i} {
    padding-left: .25rem * $i !important;
  }
  .pr-#{$i} {
    padding-right: .25rem * $i !important;
  }
  .ptb-#{$i} {
    padding-top: .25rem * $i !important;
    padding-bottom: .25rem * $i !important;
  }
  .prl-#{$i} {
    padding-right: .25rem * $i !important;
    padding-left: .25rem * $i !important;
  }
  .p-#{$i} {
    padding: .25rem * $i !important;
  }
  .fs-#{$i} {
    font-size: .25rem * $i !important;
  }
  .bold-#{$i} {
    font-weight: 100 * $i !important;
  }
}
